{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:700,600' rel='stylesheet' type='text/css'>


<body>
   

    <form method="post" action="">
        <div class="box">
        <h1>Edit your informations</h1>
        {% csrf_token %}
        {{form.name}}
        {{form.phone_number}}
        {{form.email}}
        
          
        
            
        <a href="#" onclick="this.closest('form').submit();return false;"><div class="btn">Edit</div></a>
        
        <a href="/user/{{userid}}">
            <div id="btn2">Back</div>
        </a>
        <a href="/user/{{userid}}/changepassword">
            <div id="change">change password</div>
        </a>
        
    </form>

        
    </div> <!-- End Box -->
          
        
</body>


